/* here you can put your own css to customize and override the theme */

body {  background-color: #eff1f3; }
.page-logo{background-color: #eef0f3;}
.page-header.navbar .page-logo .logo-default { margin: 2px 0 0; }
img.logo-default{height: 43px;}
.page-header.navbar.navbar-fixed-top {  background-color: #f7f5c9; }
span.title { font-weight: 500 !important; }
.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover { background-color: #eef0f3; }
.page-sidebar .page-sidebar-menu>li.active.open>a {background-color: #cecfd2;}
span.title { font-weight: 500 !important; color: black; font-family: Montserrat; font-size: 15px; }
.page-sidebar .page-sidebar-menu>li.open>a, .page-sidebar .page-sidebar-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a {
    background: #fbfcff; color: #b4bcc8; }
.page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a {
    border-top: 1px solid #dcdcdc; color: #b4bcc8; }
body, h1, h2, h3, h4, h5, h6 { font-family: 'Montserrat'; font-weight: 500; font-size: 15px; }
.page-sidebar .page-sidebar-menu>li.active.open>a:hover, .page-sidebar .page-sidebar-menu>li.active>a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a:hover {
    background: #cecfd2;
}
.page-sidebar .page-sidebar-menu>li.active.open>a, .page-sidebar .page-sidebar-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a {
    background: #cecfd2;  
}
span.username.username-hide-on-mobile { color: black !important; font-weight: 500 !important; }
.cus-btn:hover{color: white !important;}
.modal_body{width: 45%;}
.main-section{
            margin:0 auto;
            padding: 20px;
            margin-top: 10px;
            background-color: #fff;
            box-shadow: 0px 0px 20px #c1c1c1;
        }
        .fileinput-remove,
        .fileinput-upload{
            display: none;
        }