/* body {
  background-color: #edeeef;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}
.wrapper {
  margin: 0 auto;
  height: 100vh;
  max-width: 540px;
} */

.btn-cta-premium {
  color: black;
  display: inline-block;
  padding: 10px 16px;
  min-width: 30% !important;
  text-align: center;
  background-color: white;
  border: 1px solid #D6CED9;
  font-size: 18px;
}

.btn-cta-premium.active {
  background-color: #AC4CB7;
  color: white;
  border: 1px solid #AC4CB7;
}

.min-gutter {
  margin-right: -7.5px;
  margin-left: -7.5px;
}

.min-gutter>[class*='col-'] {
  padding-right: 7.5px;
  padding-left: 7.5px;
}

.detail-match {
  overflow: hidden;
}

.detail-match-header {
  background-color: #700d7b;
  color: white;
  text-align: center;
}

.detail-match-header h4 {
  font-weight: 300;
  margin: 0;
  padding: 30px 30px 20px;
}

.detail-match-header .club img {
  width: 75%;
}

.detail-match-header .club p {
  margin-top: 10px;
  font-size: 12px;
}

.detail-match-header .score-board .date {
  border-radius: 5px 5px 0 0;
  background-color: #5f1a67;
  padding: 5px;
  font-size: 12px;
}

.detail-match-header .score-board .score {
  border-radius: 0 0 5px 5px;
  background-color: #422146;
  padding: 5px;
  font-size: 20px;
}

.detail-match-header .sec-1 {
  padding: 0 1em;
}

.detail-match-header .sec-2 {
  padding: 10px;
  background-color: #862191;
  font-size: 12px;
}

.detail-match-header .sec-2 .stadium {
  border-right: 1px solid white;
}

.detail-match-header .sec-3 {
  padding: 0 1em 1em;
}

.detail-match-header .sec-3 .card {
  border-top: 1px solid white;
  font-size: 10pt;
}

.detail-match-header .sec-3 .card img {
  width: 25px;
  height: 25px;
}

.detail-match-header .sec-3 .card table {
  color: white;
  font-size: 10pt;
}

.detail-match-header .sec-3 .card ul {
  list-style: none;
  text-align: left;
  padding: 0;
}

.detail-match-header .sec-3 .card .row {
  padding: 1em 0
}

.detail-match-header .sec-3 .card .row:not(:last-child) {
  border-bottom: 1px solid rgb(209, 209, 209)
}

/* css menu */
.menu-details {
  padding: 10px;
  background-color: #d04979;
}

.menu .nav {
  white-space: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;
}

.menu .nav::-webkit-scrollbar {
  display: none;
}

.menu .nav li {
  display: inline-block;
  float: none;
  width: 18%;
  margin-right: 5px;
}

.menu .nav li a:hover {
  background-color: rgba(255, 255, 255, 0.507);
}

.menu .nav a {
  font-size: 10px;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.menu .nav a img {
  height: 20px;
  margin-bottom: 5px;
}

.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  background-color: rgba(255, 255, 255, 0.164);
}

.nav-pills>li.active>a {
  color: white;
  background-color: rgba(255, 255, 255, 0.164);
}

/* css timeline */
#timeline .activity .col-xs-10 {
  padding: 0;
  padding-right: 1em;
  padding-left: 1em;
}

#timeline .notif-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 80px;
  height: 100px;
  margin-bottom: 3px;
}

#timeline .notif-icon::before {
  content: "";
  width: 3px;
  height: 100%;
  background-color: whitesmoke;
}

#timeline .notif-icon::after {
  content: "";
  width: 3px;
  height: 100%;
  background-color: whitesmoke;
}

#timeline .notif-icon .icon img {
    width: 40px;
    height: 47px;
}

#timeline .notif-body {
  display: flex;
  align-items: center;
  padding: 8px 0px;
  height: 100px;
  margin-right: 4px;
  margin-left: 3px;
}

#timeline .notif-body::before {
  content: "";
  width: 0;
  height: 0;
  border-color: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 18px solid white;
}
#timeline .green {
  display: flex;
  align-items: center;
  padding: 8px 0px;
  height: 100px;
  margin-right: 4px;
  margin-left: 3px;
}
#timeline .green::before {
    content: "";
    width: 0;
    height: 0;
    border-color: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 18px solid #dbffb9;
}

#timeline .notif-body .msg {
  height: 104%;
  width: 100%;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  overflow: auto;
}

.goalTime {
  border: 1px solid #676161;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 100;
  float: right;
  margin-right: 8px;
}

.goal-text {
   background-color: #dbffb9;
   height: 104%;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    overflow: auto;
  
}



#timeline .notif-body .msg h4 {
  margin: 0 0 5px;
  font-weight: 700;
}

#timeline .notif-body .msg span {
  font-size: 13px;
}
#timeline .green .goal-text h4 {
  margin: 0 0 5px;
  font-weight: 700;
}

#timeline .green .goal-text span {
  font-size: 13px;
}
/* css stats */
#stats {
  height: 100%;
  background-color: white;
}

#stats .stats-header img {
  width: 15%;
}

#stats .stats-header h5 {
  font-weight: bold;
}

#stats .stats-header {
  padding: 1em 0 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#stats .stats-body {
  margin: 10px 0;
}

#stats .stats-body .stats-item {
  display: flex;
  font-size: 18px;
  width: 100%;
  padding: 5px 10px;
}

#stats .stats-body .point-left {
  text-align: left;
  padding: 15px 10px;
  color: white;
  background-color: #700D7B;
}

#stats .stats-body .point-right {
  text-align: right;
  padding: 15px 10px;
  color: white;
  background-color: #9E1AAD;
}

#stats .stats-body .point-name {
  left: 0;
  right: 0;
  text-align: center;
  padding: 15px 0;
  color: white;
  position: absolute;
}
.point-zero-stats {
    width: 100%;
    background-color: #700D7B;;
    color: white;
    text-align: center;
    position: relative;
    height: 47px;
    line-height: 47px;
}

.point-zero-stats .left-zero,
.point-zero-stats .right-zero {
    position: absolute;
    top: 0;
    width: 40px;
}

.point-zero-stats .left-zero {
    left: 10px;
    text-align: left;
}

.point-zero-stats .right-zero {
    right: 10px;
    text-align: right;
}

.point-zero-stats .center-label {
    display: inline-block;
}
